@use './variables' as var;

body {
    font-family: "Inter", Helvetica, Arial, sans-serif;
    background-color: var.$main-bg-color;
}

main {
    height: auto;
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
    color: #fff;
    background-size: auto 170vh;
    background-position: center top;
    background-repeat: no-repeat;

    .main-container {
        margin: 0;
        width: 100%;
        font-size: var.$font-14;
        font-weight: 500;
        max-width: 600px;
    }
}

main.day {
    background-image: url("./images/bkgd/day.webp");

    &.cloudy {
        background-image: url("./images/bkgd/cloudy.webp");
    }

    &.partly-cloudy {
        background-image: url("./images/bkgd/partly.webp");
    }

    &.rain {
        background-image: url("./images/bkgd/rain.webp");
    }

    &.snow {
        background-image: url("./images/bkgd/snow.webp");
    }

    &.thunderstorm {
        background-image: url("./images/bkgd/thunder.webp");
    }
}

main.night {
    background-image: url("./images/bkgd/night.webp");

    &.cloudy {
        background-image: url("./images/bkgd/cloudy-night.webp");
    }

    &.partly-cloudy {
        background-image: url("./images/bkgd/partly-night.webp");
    }

    &.rain {
        background-image: url("./images/bkgd/rain-night.webp");
    }

    &.snow {
        background-image: url("./images/bkgd/snow-night.webp");
    }

    &.thunderstorm {
        background-image: url("./images/bkgd/thunder-night.webp");
    }
}

@media (min-width: 460px) {

    .d-sm-block {
        display: block !important;
    }

    .d-sm-inline-block {
        display: inline-block !important;
    }

    .col-sm-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }

    .col-sm-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }

    .col-sm-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-sm-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .col-sm-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }
    
    .col-sm-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-sm-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }

    .col-sm-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .me-sm-0 {
        margin-right: 0 !important;
    }

    .pe-sm-1 {
        padding-right: 0.25rem !important;
    }

    .pe-sm-2 {
        padding-right: 0.5rem !important;
    }

    .pe-sm-3 {
        padding-right: 1rem !important;
    }

    .ps-sm-3 {
        padding-left: 1rem !important;
    }

    .ps-sm-4 {
        padding-left: 1.5rem !important;
    }

    .px-sm-4 {
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
    }

    .text-sm-end {
        text-align: right !important;
    }

}

@media (min-width: 576px) {
    .main-container {
        max-width: 576px !important;
    }
}
